<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>Hi, I'm Dimitrije</p>
      <br>
      <p>
        I'm a web developer, devoted to the MERN stack. Currently, I am skilled in HTML, CSS, and JavaScript, and my next goal is NodeJs. Dedicated to continuous learning and improvement.
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
